<carousel
  *ngIf="favorites.length > 0"
  [itemsPerSlide]="itemsPerSlide"
  [singleSlideOffset]="singleSlideOffset"
  [noWrap]="noWrap"
  [interval]="5000"
  [startFromIndex]="0"
  [showIndicators]="showIndicators"
>
  <slide
    *ngFor="let favorite of favorites"
    class="shadow-sm border border-top-0"
  >
    <div class="card border-0 text-center">
      <img
        style="
          display: block;
          width: 100%;
          max-height: 150px;
          object-fit: scale-down;
        "
        src="{{ favorite.imagePath }}"
        class="card-img-top"
        alt="image slide"
      />
      <div class="card-body">
        <h5 class="card-title">{{ favorite.productName }}</h5>
      </div>
    </div>
  </slide>
</carousel>
