<!-- <div class="h-50 w-75 mx-auto">
  <carousel>
    <slide *ngFor="let product of products">
      <img
        src="{{ product.imagePath }}"
        alt="first slide"
        style="display: block; width: 100%"
      />
    </slide>
  </carousel>
</div> -->

<!-- <carousel
  [itemsPerSlide]="3"
  [singleSlideOffset]="false"
  [noWrap]="true"
  [interval]="10"
  [startFromIndex]="0"
>
  <slide *ngFor="let product of products">
    <img
      src="{{ product.imagePath }}"
      alt="image slide"
      style="display: block; width: 100%"
    />
  </slide>
</carousel> -->

<demo-carousel-multilist></demo-carousel-multilist>
