<mat-spinner class="m-auto loader" *ngIf="isLoading"></mat-spinner>

<div class="container-fluid mt-3 h-100" *ngIf="!isLoading" style="width: 80%">
  <div
    class="row d-flex justify-content-center"
    style="height: 80px; background-color: #1d1c1c"
  >
    <h1
      class="p-4 text-white"
      style="font-size: 2rem; font-family: 'Roboto Slab', serif"
    >
      {{ categoryName }}
    </h1>
  </div>
  <div class="row d-flex justify-content-end">
    <div *ngIf="products.length > 0" class="btn-group" dropdown>
      <button
        id="button-basic"
        dropdownToggle
        type="button"
        class="btn dropdown-toggle"
        style="background-color: rgb(226, 222, 222)"
        aria-controls="dropdown-basic"
      >
        Sort Products <span class="caret"></span>
      </button>
      <ul
        id="dropdown-basic"
        *dropdownMenu
        class="dropdown-menu"
        role="menu"
        aria-labelledby="button-basic"
      >
        <li role="menuitem">
          <a
            class="dropdown-item"
            href="javascript: void(0);"
            (click)="sortAscending()"
            >Ascending</a
          >
        </li>
        <li role="menuitem">
          <a
            class="dropdown-item"
            href="javascript: void(0);"
            (click)="sortDescending()"
            >Descending</a
          >
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="card-group p-0" *ngIf="products.length > 0">
      <div class="col-sm-4 p-1" *ngFor="let product of products">
        <div
          bsModal
          #lgModal="bs-modal"
          class="modal fade"
          tabindex="-1"
          role="dialog"
          aria-labelledby="dialog-sizes-name1"
        >
          <div class="modal-dialog modal-lg">
            <div class="modal-content text-center">
              <div class="modal-header">
                <h4 id="dialog-sizes-name1" class="modal-title pull-left">
                  {{ product.productName }}
                </h4>
                <button
                  type="button"
                  class="close pull-right"
                  (click)="lgModal.hide()"
                  aria-label="Close"
                >
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <img
                  src="{{ product.imagePath }}"
                  class="my-2"
                  style="height: 200px; width: 200px"
                  alt="..."
                />
                <h2 class="text-left">Description</h2>
                <p class="text-left">{{ product.description }}</p>
              </div>
            </div>
          </div>
        </div>

        <a
          href="javascript: void(0);"
          (click)="lgModal.show()"
          class="text-dark"
        >
          <div
            class="card mx-auto mt-5 text-center hvr-glow"
            style="max-height: 100%"
          >
            <img
              src="{{ product.imagePath }}"
              class="card-img-top mx-auto"
              alt="..."
            />
            <div class="card-bottom h-100">
              <div class="card-body">
                <h5 class="card-title">{{ product.productName }}</h5>
              </div>
            </div>
            <button class="testBtn btn-success btn" style="visibility: hidden">
              test
            </button>
          </div>
        </a>
      </div>
    </div>
  </div>
  <div
    *ngIf="products.length > 0"
    class="row mt-2 d-flex justify-content-end align-items-end"
  >
    <pagination
      [totalItems]="totalProducts"
      [itemsPerPage]="itemsPerPage"
      [(ngModel)]="currentPage"
      (pageChanged)="pageChanged($event)"
    ></pagination>
  </div>
</div>
<div
  class="container-fluid"
  *ngIf="!isLoading && products.length <= 0"
  style="width: 80%"
>
  <h1>No products found</h1>
</div>
