<div class="example-container h-100">
  <div class="sticky-top">
    <div class="row">
      <div class="col" style="max-height: 200px">
        <img class="img-fluid" src="assets/images/QuickLook6.png" alt="" />
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div class="mx-auto middle-icons">
          <button
            matTooltip="Home"
            class="home-button"
            style="margin-right: 10px"
            mat-mini-fab
            aria-label="Example icon button with a home icon"
          >
            <mat-icon>home</mat-icon>
          </button>
          <button
            matTooltip="Search"
            class="search-button"
            mat-mini-fab
            aria-label="Example icon button with a home icon"
          >
            <mat-icon>search</mat-icon>
          </button>
        </div>

        <button class="btn category-button mb-3 btn-primary">Categories</button>
        <button class="btn category-button btn-primary">Favorites</button>
      </div>
    </div>
  </div>
</div>
